@import "../stylesheets/utility";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  scroll-behavior: smooth;
}

// page trasition
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.app {
  background-color: $bg-clr;
  min-height: 100vh;
}

.theme-container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  @extend #button;
}

.btn-light {
  @extend #button;
  @extend #btn-light;
}
